html,
body {
    margin: 0;
    padding: 0;
    background: #f1e9da;
    color: #10093E;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: right;
    margin: 1em;
    padding-left: 0.4em;
    align-items: center;
}

li {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 800;
}

.idintify {
    margin-right: auto;
    margin-left: 0.4em;
}

.logo {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #10093E;
}

a:hover {
    color: #914BCB;
}

.home {
    margin-right: 1em;
}

.img-first {
    width: 40%;
    height: 60%;
    border-radius: 50%;
    min-width: 175px;
}

.header {
    margin: 1em;
    padding-bottom: 2em;
}

.portfolio-title {
    /* display: flex; */
    width: 100%;
    /* padding:2em 0em 1em; */
    /* text-align: left;
    align-items: flex-start; */
}

.header p {
    opacity: 0.9;
}

.under-header {
    margin: 1em;
    padding-bottom: 2em;
}

.Recents {
    text-align: center
}

.portfolio-card {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(200px, 1fr) 30px 40px minmax(50px, 100%);
}

.footer {
    width: 100%;
    text-align: center;
    background: black;
    padding: 1em 0;
    color: wheat;
    margin: 0;
}

.portfolio-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

h5 {
    opacity: 0.6;
}

@media(min-width:645px) {
    .portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .img-first {
        min-width: 350px;
    }
    .header {
        display: flex;
    }
    .portfolio-card {
        margin: 0.3em;
    }
    .footer {
        width: 100%;
    }
    .header p {
        font-size: 1.5rem;
        padding-left: 2rem;
        width: 90%;
    }
    .portfolio-title {
        padding-left: 2rem;
        width: 90%;
        font-size: 3rem;
    }
    .under-header p {
        width: 80%;
        margin: 1em auto
    }
    .under-header h4 {
        width: 80%;
        margin: auto;
    }
    ul li {
        font-size: 1.7rem;
        font-weight: 800;
        padding: 1em;
    }
    .logo {
        font-size: 3rem
    }
}